@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'continuum_boldregular';
  src: url('/fonts/contb-webfont.woff2') format('woff2'),
       url('/fonts/contb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'continuum_lightregular';
  src: url('/fonts/contl-webfont.woff2') format('woff2'),
       url('/fonts/contl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'continuum_mediumregular';
  src: url('/fonts/contm-webfont.woff2') format('woff2'),
       url('/fonts/contm-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  cursor: url('/img/cursor.png'), auto !important;
}


body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in-50 {
  opacity: 0;
  animation: fadeIn50 1s forwards;
}

.fade-in-right {
  opacity: 0;
  transform: translate(200px);
  animation: fadeInTranslate 1s forwards;
}

.fade-in-left {
  opacity: 0;
  transform: translate(-200px);
  animation: fadeInTranslate 1s forwards;
}

.fade-in-left-1 {
  opacity: 0;
  transform: translate(-100px);
  animation: fadeInTranslate 0.5s forwards;
}

.fade-in-bottom {
  opacity: 0;
  transform: translate(0, 200px);
  animation: fadeInTranslate 1s forwards;
}

.translate-in-bottom {
  transform: translate(0, 200px);
  animation: translateIn 0.3s forwards;
}

.fade-in-top {
  opacity: 0;
  transform: translate(0, -100px);
  animation: fadeInTranslate 1s forwards;
}

.fade-out-right {
  opacity: 1;
  transform: translate(0);
  animation: fadeOut 1s forwards;
}

.wiifont-bold {
  font-family: 'continuum_boldregular';
}

.wiifont-light {
  font-family: 'continuum_lightregular';
}

.wiifont-medium {
  font-family: 'continuum_mediumregular';
}

@keyframes fadeInTranslate {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes translateIn {
  to {
    transform: translate(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(200px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn50 {
  to {
    opacity: 0.5;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.border-double {
  border-style: double;
}

.channel-border {
  transition: all 0.150s ease-in-out; 
}

.channel-border:hover {
  box-shadow: 0 0 0 4px rgba(2, 132, 199, 0.4),0 1px 2px rgba(2, 132, 199, 0.4),0 4px 8px -4px rgba(2, 132, 199, 0.4);
}

.tvfilter:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18,16,16,0) 50%,rgba(0,0,0,.05) 90%),linear-gradient(90deg,rgba(255,0,0,.1),rgba(0,255,0,.05),rgba(0,0,255,.1));
  z-index: 20;
  background-size: 100% 2px,3px 100%;
  pointer-events: none;
}

@layer utilities {
    
  .absolute-center{
      @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2    
  }

  .absolute-v-center{
      @apply absolute top-1/2 transform -translate-y-1/2    
  }

  .absolute-1\/3-center{
      @apply absolute top-1/3 transform -translate-y-1/3    
  }

  .absolute-preview-center{
    @apply absolute top-2/4 transform -translate-y-32
}

  .project-description ul {
      @apply list-disc mb-5 ml-6
  }

  .project-description p {
    @apply list-disc mb-4
}

  .project-description ul li {
      @apply my-1
  }

  .project-description a {
    @apply underline text-sky-400
}
}

@layer base {
    ::-webkit-scrollbar {
        width: 32px;
        height: 16px;
    }
    @media (max-width: 640px) {
      ::-webkit-scrollbar {
        width: 0px;
      }
    }
  
    ::-webkit-scrollbar-track {
        background: rgba(209, 213, 219, 0.5);
        border-radius: 0px;
    }
  
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
        border: 2px solid #b5b5b5;
        border-radius: 6px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }
  
    ::-webkit-scrollbar-thumb:hover, 
    ::-webkit-scrollbar-thumb:active {
        background: #d1d5db;
        /* border-color: #38bdf8; */
    }
  }

  @layer base {

    .font-outline-2 {
        text-shadow: -1px -1px 0 #6B7280,  1px -1px 0 #6B7280, -1px 1px 0 #6B7280, 1px 1px 0 #6B7280;
      }
  }